/* Global */
html, body {
	font-family: 'Montserrat';
	background-color: #FFED66;
	height: 100%;

	position: fixed; 
    overflow-y: scroll;
    width: 100%;
    padding: 0px;
  	margin: 0px;
}

#bg {
	background-color: black;
}

#card {
	display: inline-block;
}

input {
	font-family: 'Montserrat';
	border: none;
	background: white;
	padding: 10px;
}

button {
	font-family: 'Montserrat';
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 10px;
	left: -1px;
	padding-right: 18px;
	background: #FFED66;
	color: black;
	border: none;
	outline: 0;
}

button:hover {
	color: white;
}

.highlight{
    background: #D1D0D0;
}

#button{
	text-align: right;
}

#header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 35px;
	left: 0px;
	padding: 10px;
	padding-left: 20px;
}

#title {
	display: inline;
	font-size: 3em;
	background-color: #282828;
	padding-left: 14px;
	padding-right: 22px;
	padding-bottom: 5px;
	color: white;
	text-shadow: 3px 3px .1px rgba(255, 237, 102, .8);
}

#content {
	position: fixed;

	width: 76%;
	height: 85%;
	white-space: nowrap;
	margin-top: 35px;

	/* Responsive */
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	white-space: normal;

	z-index: 10;
}

#visual{
	width: 100%;
	height: 60%;
	white-space: nowrap;
}

#info{
	width: 100%;
	height: 40%;
	white-space: nowrap;
	display: inline-block;
}

.widget {
	background-color: #282828;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 30%;
	min-width: 273px;
	float: left;
	vertical-align: center;
	margin-right: auto;
	margin-left: 20px;
	margin-bottom: auto;
	margin-top: auto;
}

.table {
	min-width: 510px;
	width: 65%;
	float: right;
}

.infotable {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    float: left;
    width: 95%;
    table-layout: fixed;
}

.infotable td.col1 {
	padding: 5px;
	padding-left: 10px;
	background-color: #282828;
	color: white;
	text-shadow: 1px 1px .1px rgba(255, 237, 102, .8);
	font-weight: bold;
	width: 22%;
}

.infotable td, .infotable th {
    font-size: 1em;
    padding: 3px 7px 2px 7px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#sidebar {

	font-size: .9em;
	position: fixed;

	width: 24%;
	height: 95%;
	white-space: nowrap;
	margin-top: 35px;

	float: right;
	right: 10px;

	/* Responsive */
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	white-space: normal;
}

#search {
	padding-top: 10px;
	background-color: #282828;
	min-height: 45px;
	margin-bottom: 10px;
}

#results {
	overflow: auto;
	background-color: #282828;
	height: 42%;
}

#hide {
	height: 22px;
	width: 100%;
	background-color: #282828;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-bottom: 10px;
}

.minimize {
	color: #FFED66;
	font-size: 1.5em;
	border: none;
	background-color: transparent;
	outline: none; 
	width: 100%;
}

.minimize:hover {
	color: white;
}

.highlight{
    background: #D1D0D0;
}

.normal{
    background: #FAFFF3;
}

.normal:hover{
    background-color: #ffff99;
}

.highlight:hover{
	background-color:#ffff99;
}

#playlist {
	overflow: auto;
	background-color: #282828;
	height: 85%;
}

#playlist, td {
	border-collapse: separate;
	vertical-align: middle;
	padding: 1px;
}

#playlist_header {
	color: white;
	text-shadow: 1px 1px .1px rgba(255, 237, 102, .8);
	padding: 10px;
}

#overlay-solid {
	pointer-events: none;
    position: absolute;
    top, left: 0;
    width: 100%;
    height: inherit;
    background-color: black;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10;
}

#overlay-border {
	padding-top: 40px;
	pointer-events: none;
	color: white;
	font-size: 2em;
	text-shadow: 0px 1px 1px black;
	position: absolute;
    top, left: 0;
    width: 100%;
    height: inherit;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    z-index: 10;
    z-index: 11;
}

.vizsection {
	height: 80%;
	float: left;
	background-color: red;
	border: yellow 4px solid;

}